main {
  max-width: 500px;
  margin: auto;
}

.postUI_main_wrapper {
  display: grid;
  margin: 3em auto;
  gap: 1em;
  align-items: center;
}

.postUI_container {
  display: grid;
  gap: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 12px 12px 0px 0px;
}
.account_profile {
  word-break: break-all;
}

.textArea {
  width: 100%;
  background-color: #c4c4c4;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 15px;
  min-height: 32px;
}
.textArea::placeholder {
  font-size: 16px;
  color: #8c8a8a;
}
.classy_class {
  border: 1.5px solid #000000;
  width: 10px;
  height: 12px;
  position: absolute;
}

.play_elipse {
  width: 35px;
  height: 35px;
  background-color: #c4c4c4;
  position: relative;
  border-radius: 99rem;
  border: 0;
}
.postUI_main_wrapper label {
  color: red;
}

.comment_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #e3e3e3;
  border-radius: 0px 0px 9px 9px;
  padding: 17px 34px;
}
